{% load static %}
<!doctype html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>{% block title %}{% endblock title %} | Vulnman</title>
    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    {% include 'core/components/navigation/topnav.html' %}

    <div class="fixed-sidebar {% if project %}has-sidebar{% endif %} d-flex layout" id="page-wrapper">
        {% if project %}
        {% include 'core/components/navigation/sidebar.html' %}
        {% endif %}
        <!-- Page Content -->
        <div class="layout" id="page-content">
            <div class="content">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            {% include 'message.html' %}
                        {% endfor %}
                    </ul>
                {% endif %}
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>

<!-- Scripts -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    {% if project %}
        {% include 'core/components/navigation/sidebar.js.html' %}
    {% endif %}
{% block extra_scripts %}
{% endblock extra_scripts %}
</body>
</html>
